{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}{% endblock%}</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="stylesheet" href="{% static 'Styles/style.css' %}" />
{% block home %}{% endblock %}

</head>
<body {% if "mode" in request.COOKIES and request.COOKIES.mode == True %} class="dark"{% else %}class="light" {% endif %} > 

    <nav class="right" >
        <span class="material-symbols-outlined"> person </span>
        <button class="sign">Sign In</button>
        <a href="{% url 'main:mode_light_view' %}" ><span class="material-symbols-outlined">light_mode</span></a>
        <a href="{% url 'main:mode_dark_view' %}" ><span class="material-symbols-outlined">dark_mode</span></a>
        
    </nav>
    <div class="top">
        <button>
            <a href="{% url 'main:main_view'%}">Home</a>
            <a href="{% url 'main:properites_view'%}">Properties</a>
            <a href="">Services</a>
            <a href="">About</a>
            <a href="{% url 'main:contact_view'%}">Contact</a>
        </button>
    </div>
<div class="left">
   <a href="{% url 'main:main_view' %}">Home</a>
</div>
{% block content %}

{% endblock %}
</body>
</html>