{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Phudu:wght@300..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap" rel="stylesheet">
    <title>{% block title %}{% endblock  %}</title>
    <link rel="stylesheet" href="{% static 'style/base.css' %}"/>

    {% block style %}{% endblock  %}
</head>

<body>
    <div class="main-section">
        <div class="section-A">
            <h2>HOME</h2>
        </div>
        <div class= "section-B">
            <a href="{% url "main:home_page" %}">Home</a>
            <a href="{% url "main:properties_page" %}">Properties</a>
            <a href="">Services</a>
            <a href="">About</a>
            <a href="{% url 'main:contact_page'%}">Contact</a>
        </div>
        <div class="section-C">
            <a href=""><span class="material-symbols-outlined icon">person</span></a>
            <a href="">Sign up</a>
            <a href=""><span class="material-symbols-outlined">wb_sunny</span></a>
            <a href=""><span class="material-symbols-outlined">dark_mode</span></a>
        </div>
    </div>
    
    
    
    {% block content %}
    {% endblock  %}

</body>
</html>

