{% extends 'main/base2.html' %}

{% block content %}
    
    <div class="container">

        <div class="row mt-3">
            <div class="col-12 col-md-6 order-2 order-md-1">
                <div class="d-flex flex-column gap-2 h-100 justify-content-center">
                    <h2>Welcome to Movies</h2>
                    <p>Miles Morales catapults across the Multiverse, where he encounters a team of Spider-People charged with protecting its very existence. When the heroes clash </p>
                </div>
            </div>
            <div class="col order-1 order-md-2">
                <img class="w-100 rounded-5" src="https://people.com/thmb/GkISbnjVU_Jxy7huhgGufhFkSII=/1500x0/filters:no_upscale():max_bytes(150000):strip_icc():focal(899x148:901x150)/SPIDER-MAN-INTO-THE-SPIDER-VERSE-110722-01-c5377dc1dc204aceb5e3d93e1327ecd0.jpg" />
            </div>
        </div>

        <hr />

        <div class="row">
            <div class="col">
                <h3>something about movies</h3>
            </div>

        </div>

    </div>

{% endblock %}