{% extends "main/base.html" %}
{% load static %}
{% block title %}Contact{% endblock  %}

{% block style %} <link rel="stylesheet" href="{% static "style/contact.css" %}"> {% endblock  %}

{% block content %}
<div class="base"> 
    <h1>CONTACT US</h1>
    <h2>TELEPHONE <a href="tel:05598394325">+966 5598394325</a></h2>
    <h2>EMAIL: <a href= "mailto:info.realestate.com">info.realestate.com</a></h2>
    <h2>ADDRESS:</h2>
    <P>Anas Bin Malik <br>Buillding W-12 <br>SAUDI ARABIA</P>
</div>
<div class='map'>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3621.3424709696255!2d46.64363536280688!3d24.81795920460351!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2ee40eefcb6a9d%3A0xbc4308498520f827!2z2LfYsdmK2YIg2KPZhtizINin2KjZhiDZhdin2YTZg9iMINin2YTYsdmK2KfYtg!5e0!3m2!1sar!2ssa!4v1709576809799!5m2!1sar!2ssa" 
     width="650" height="300" style="border-radius:30px;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
{% endblock  %}