{% extends 'main/base.html' %}
{% load static %}
{% block title %}  {% endblock %}
{% block home%}
<style>
    body{
        background-image: url('static/images/email.jpg');
        background-size: cover;
        width: 40%;
        height: 50%;
    }
</style>
{% endblock%}

{% block content %}
<h2>CONTACT US</h2>
<div class="map">
<iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3621.3357822098446!2d46.64412352593363!3d24.81818804695027!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2ee40eefcb6a9d%3A0xbc4308498520f827!2z2LfYsdmK2YIg2KPZhtizINin2KjZhiDZhdin2YTZg9iMINin2YTYsdmK2KfYtg!5e0!3m2!1sar!2ssa!4v1709583951024!5m2!1sar!2ssa" width="500" height="400" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade" ></iframe>
</div>
<section class="top_a">
   
         
    <h5>TELEPHONE:<a href="">+966 57263883764</a><br>
        EMAIL:<a href="">info@realeastate.com</a><br>
        ADDRESS:<br>
        <p>ANAS BIN MALIK,RIYADH<br>
        BUILDING W-112<br>
    SAUDI ARABIA</p>
    </P>

</section>
{% endblock%}
{% block footer%}
{% endblock%}