{% extends 'main/base.html' %}
{% load static %}

{% block title %} Contact {% endblock %}

{% block img %} <body class="cont-page">{% endblock %}

{% block body %}
   <section class="cont">
    <div class="left-cont">
        <p class="us">content us</p>

        <div class="info">
            <p>telephone: <a href="">+966 57263883764</a></p>
            <p>email: <a href="">info@realestate.com</a></p>
            <p>address: </p>
        </div>
        <div class="address">
            <p>anas bin malik, riyadh</p>
            <p>building w-112</p>
            <p>saudi arabia</p>
        </div>
    </div>
    <div class="right-cont">
        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3620.286802193431!2d46.71034277414063!3d24.854052345516248!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3e2efbd2d9c324c7%3A0x9124f530f1b56443!2sTuwaiq%20Academy!5e0!3m2!1sen!2ssa!4v1709566215172!5m2!1sen!2ssa" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
    </div>
   </section>
{% endblock %}