{% extends 'main/base.html' %}
{% load static %}
{% block title %}  {% endblock %}
{% block home%}
<style>
     body{
    background-color: rgb(185, 183, 183);
    background-image: url('/static/images/skyscraper.jpeg');
    height: 50px;
    background-repeat: no-repeat;
    background-size: cover;
}
</style>
{% endblock%}

{% block content %}
<section class="page">
    <h1>FIND YOUR<br>
         DREAMS</h1>
    <P>Our catalog will surprise you. Rather, discover an unprecedented offers of luxury properties. Our<br>
         catalog will surprise you. Rather, discover an unprecedented offers of luxury properties.</P>
    <button>Expolore Properties</button>

{% endblock %}