{% extends 'main/base.html' %}

{% block content %}


    <div class="wrapper homepage-content">
        <div class="sub-content">
            <h1>Find Your Dreams</h1>

            <p>Our catalog will surprise you. Rather, discover an unprecendented offers of luxury properties. Our catalog will surprise you. Rather, discover an unprecendented offers of luxury properties.</p>
    
            <a class="btn" href="{% url 'main:properties_page' %}">Expolore Properties</a>
        </div>

    </div>

    <div class="bottom-container">

        <div class="bottom-nav">

            <div class="service-item" id="house">
                <span class="material-symbols-outlined">house</span>
                <h5>All</h5>
            </div>

            <div class="service-item" id="properties">
                <span class="material-symbols-outlined">factory</span>
                <h5>Properties</h5>
            </div>


            <div class="service-item" id="hotel">
                <span class="material-symbols-outlined">hotel</span>
                <h5>Hotel</h5>
            </div>

            <div class="service-item" id="villa">
                <span class="material-symbols-outlined">villa</span>
                <h5>Villa</h5>
            </div>

        </div>

    </div>


{% endblock %}