{% extends 'main/base.html' %}
{% block title %} Home {% endblock %}
{% block PageContent %}



<div class="welcome-message">
    <h1 class="find-your-dreams">Find Your Dreams</h1>
</div>



    <div class="box-bottom">
        <div class="icon-container">
            <div class="color_green">
                <a href="/">
                    <span class="material-symbols-outlined">home</span>
                    <div class="text">Home</div>
                </a>
            </div>
        </div>
        <div class="icon-container">
            <div class="color_brown">
                <a href="/">
                    <span class="material-symbols-outlined">factory</span>
                    <div class="text">factory</div>
                </a>
            </div>
        </div>
        <div class="icon-container">
            <div class="color_pink">
                <a href="/">
                    <span class="material-symbols-outlined">hotel</span>
                    <div class="text">hotel</div>
                </a>
            </div>
        </div>
        <div class="icon-container">
            <div class="color_blue">
                <a href="/">
                    <span class="material-symbols-outlined">villa</span>
                    <div class="text">villa</div>
                </a>
            </div>
        </div>
    
    </div>


{% endblock %}
