{% extends 'mainApp/base.html' %}
{% load static %}
{% block title %} contact us {% endblock %}

{% block body %}
<body class="contact-body">
{% endblock %}

{% block content %}
    <main>
        <div class="left-side">
            <p class="contact-phrase">CONTACT US</p>
            <p class="TELEPHONE">
                TELEPHONE:<a href="">+966 57263883764</a>
            </p>
            <P class="EMAIL">
                EMAIL:<a href="">ingo@realeastate.com</a>
            </P>
            <p class="Address">
                Address
            </p>
            <p class="location">
                Anas Bin Malik, Riyadh
                bulding W-112
                Saudi Arabia
            </p>
        </div>


        <div class="right-side">
            <iframe class="maps"
            width="650"
            height="350"
            allowfullscreen="" 
            loading="lazy" 
            referrerpolicy="no-referrer-when-downgrade"
            src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d24.8541669,46.7153549!2d46.7154926!3d24.8540523!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x9124f530f1b56443!2sAcademy%20Tawiq!5e0!3m2!1sen!2sus!4v1646212345678!5m2!1sen!2sus">
            </iframe>
        </div>
    </main>
{% endblock %}