* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Phudu", sans-serif;
}

main {
  position: relative;
  background-image: url("../images/skyscraper.jpeg");
  max-width: 100%;
  min-height: 41.5rem;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: 120% 85%;
}
.header {
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 3rem 0rem 0 10rem;
}
.header .Home {
  font-size: 2rem;
  font-weight: 480;
  margin-right: 2rem;
}
.header nav {
  --paddRL-: 2.5rem;
  display: inline;
  align-items: center;
  justify-content: center;
  margin-left: 14%;
  border-radius: 20px;
  font-weight: 900;
  background-color: hsl(0, 0%, 100%);
  position: relative;
  padding-left: var(--paddRL-);
  padding-right: var(--paddRL-);
}
nav a {
  --paddTB: 5rem;
  box-sizing: border-box;
  line-height: 45px;
  font-weight: 480;
  color: rgb(0, 0, 0, 0.87);
  cursor: pointer;
  padding: 12px 1.5rem;
  border: 0;
}
.control {
  display: inline-block;
  position: relative;
  justify-content: space-between;
  margin-left: 8rem;
}

.control a {
  margin-right: 14px;
}
.control img {
  margin: 2px;
}
.icon {
  position: relative;
  margin: 4px;
  width: 1rem;
  top: 0.25rem;
  right: 0.35rem;
}

footer {
  background: #f2f2f2;
  display: flex;
  margin: 0;
  padding: 1px;
  font-size: 14px;
  color: #202124;
  text-decoration: none;
  margin-bottom: 0;
  justify-content: center;
}
footer h4 {
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  border: 1px solid #eee;
}
