* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Phudu", sans-serif; 
  
}

.dark-mode main{
  background-image: url("../images/skyscraper-dark.jpg");
  background-color: #505050;
  color: white;
}
a{
  color: black;
}
.dark-mode a{
  color: white;
}
.dark-mode .header nav,.dark-mode .navigate .nav-block,.dark-mode .row >.card{
  background-color: #5a5a5a;
  color: white;
  
}


main {
  position: relative;
  background-image: url("../images/skyscraper.jpeg");
  max-width: 100%;
  min-height: 41.5rem;
  background-attachment: fixed;
  background-size: cover;
  display: flex;
  flex-direction: column;
  background-repeat: no-repeat;
  background-size: 120% 85%;
  background-color: #ebeae9 ;
}
.header {
  display: flex;
  align-items: center;
  justify-content: start;
  margin: 3rem 0rem 0 10rem;
}
.header .Home {
  font-size: 2rem;
  font-weight: 480;
  margin-right: 2rem;
}
.header nav {
  --paddRL-: 2.5rem;
  background-color: white;
  display: inline;
  align-items: center;
  justify-content: center;
  margin-left: 14%;
  border-radius: 20px;
  font-weight: 900;
  position: relative;
  padding-left: var(--paddRL-);
  padding-right: var(--paddRL-);
}
nav a {
  --paddTB: 5rem;
  box-sizing: border-box;
  line-height: 45px;
  font-weight: 480;
  cursor: pointer;
  padding: 12px 1.5rem;
  border: 0;
}
.control {
  display: inline-block;
  position: relative;
  align-items: center;
  margin-left: 8rem;
}

.control a {
  margin-right: 0px;
  
}
span {
  position: relative;
  font-size: 20px;
  top: 0.25rem;
  margin: 2px;
  
}

footer {
  background: #6662629e;
  display: flex;
  margin: 0;
  padding: 3px;
  font-size: 14px;
  text-decoration: none;
  margin-bottom: 0;
  justify-content: center;
}
footer h4 {
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  color: white;
}
