
* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    padding-bottom: 20vh;
    overflow-x: hidden;
    background-color: #ebeae9;
    position: relative;
}


h1, h2, h3, h4, h5 {
    font-family: 'phudu', sans-serif;
}

p, a {
    font-family: 'ubuntu', sans-serif;
}


.logo {
    font-size: 3rem;
    transition: all 0.4s ease-in;
}

.logo:hover {
    transform: scale(1.2, 1.2)
}

.top-nav-container {
    position: fixed;
    top:0px;
    left:0px;
    width: 100%;
    padding-top: 10vh;
    z-index: 1;
}

.top-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-left: 10vw;
    padding-right: 10vw;
    flex-wrap: wrap;
}

.top-bar {
    display: flex;
    flex-direction: row;
    gap: 4rem;
    background-color: white;
    border-radius: 100px;
    padding: 2rem 7rem;
    flex-wrap: wrap;
}

.signup-container {
    display: flex;
    align-items: center;
    gap: 10px;
}

.display-mode {
    display: flex;
    align-items: center;
    gap: 4px;
}

.top-nav a {
    text-decoration: none;
    color: black;
    transition: all 500ms ease-out;
}


.top-nav a:hover {
    color: red;
    font-size: 1.1rem;
}

.wrapper {
    padding: 24vh 10vw;
    padding-bottom: 10vh;
    background-size: cover;
    width: 100%;  

}

.homepage-content {
    background-image: url('/static/images/skyscraper.jpeg');
}

.dark .homepage-content {
    background-image: url('/static/images/skyscraper-dark.jpg');
}

.contact-container {
    background-image: url('/static/images/email.jpg');
}

.homepage-content h1 {
    font-size: 10rem;
}

.homepage-content .btn {
    color: white;
    text-decoration: none;
    background-color: black;
    padding: 10px 35px;
    border-radius: 25px;
    
}

.sub-content {
    display: flex;
    flex-direction: column;
    width: 50%;
    gap: 2rem;
    align-items: start;
}

.bottom-container {
    display: flex;
    width: 100%;
    justify-content: center;
}

.dark .bottom-nav {
    
}

.bottom-nav {
    background-color: white;
    padding: 1.5rem 7rem;
    border-radius: 6rem;
    box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-direction: row;
    gap: 7rem;
    margin-top: -4rem;
}

.service-item {
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
    justify-content: center;
    align-items: center;
    transition: all 400ms ease-in;
}

.service-item:hover {
    transform: scale(1.2, 1.2);
}

.service-item span {
    font-size: 2rem;
    background-color: rgb(200, 200, 200);
    border-radius: 50%;
    padding: 1rem;
    
}

.service-item  h5 {
    font-size: 1.2rem;
}

.dark .service-item  h5 {
    color: white !important;
}

#house h5 {
    color: rgba(41, 184, 12, 1);
}

#house span {
    background-color: rgba(41, 184, 12, 0.3);
    color: rgba(41, 184, 12, 1);
}

#properties h5 {
    color: rgb(184, 118, 12);
}

#properties span {
    background-color: rgba(184, 118, 12, 0.3);
    color: rgba(184, 118, 12, 1);
}



#hotel span {
    background-color: rgba(199, 11, 192, 0.3);
    color: rgba(199, 11, 192, 1);
}

#hotel h5 {
    color: rgba(199, 11, 192, 1);
}

#villa span {
    background-color: rgba(23, 26, 198, 0.3);
    color: rgba(23, 26, 198, 1);
}

#villa h5 {
    color: rgba(23, 26, 198, 1);
}


@keyframes bigger {
    
    from {
        transform: scale(0,0) translate(-100%, 0px);
        opacity: 0;
    }
    to {
        transform: scale(1, 1)  translate(0px, 0px);
        opacity: 1;
    }
}

.sub-content h1 {
    animation-name: bigger;
    animation-duration: 1000ms;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-direction: alternate;
    animation-fill-mode: both;
}


.contact-info-container {
    display: flex;
    gap: 3rem;
    justify-content: space-between;
    align-items: center;
}

.contact-info {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}

.map {
    width: 900px;
    height: 450px;
    border-radius: 25px;
}

.dark {
    color: white;
    background-color: rgb(80,80,80);
}
.dark .top-nav a {
    color: white;
}


.dark .top-bar {

    background-color: rgb(90,90,90);;

}

.dark .bottom-nav {
    background-color: rgb(90,90,90);;
}

.property-container {
    margin-top: 2rem;
    display: flex;
    column-gap: 2rem;
    row-gap: 2rem;
    flex-wrap: wrap;
}

.property-card {
    display: flex;
    flex-direction: column;
    row-gap: 1rem;
    height: auto;
    width:25vw;
    background-color: rgb(226, 225, 225);
    justify-content: space-between;
    border-radius: 25px;
    overflow: hidden;
}

.dark .property-card h2 {
    color:black;
}

.property-card img {
    width:100%;
    height: 300px;
    object-fit: cover;
}

.property-card button {
    padding: 10px 30px;
    border: none;
    background-color: black;
    color: white;
    font-weight: bold;
    align-self: flex-end;
    border-radius: 15px;
}

.property-body {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    padding: 1rem;
}

footer {
    position: absolute;
    bottom: 0px;
    background-color: black;
    display: flex;
    justify-content: center;
    padding-top: 20px;
    padding-bottom: 10px;
    color: white;
    width:100%;
    font-family: 'ubuntu', sans-serif;
}