{% extends "base.html" %}
{% load static %} 
{% block css %} 
<link rel="stylesheet" href="{% static "css/style.css" %}"> 
{% endblock css %} 
{%block title %} Reale state{% endblock title %} 
{% block content %}
<div class="title">
    <h1>FIND YOUR DREAMS</h1>
</div>
<div class="parg">
    <p>
        Our catalog Will surprise you. Rather, discover an unprecendented offers Of luxury properties. Our
        catalog will surprise you. Rather. discover an unprecendented offers of luxury properties.
    </p>
    
</div>
<div class="button">
    <a href="{% url "main:properties_page"%}"><button>Expolore Properties</button></a>
</div>
<div class="navigate">
    <div class="nav-block">
    <div class="block-item">
        <a href="#" class="items item-1">
            <div class="div-img div-img-1">
            <span class="material-symbols-outlined">house</span>
            </div>
        ALL</a>
            
    </div>
    <div class="block-item">
        <a href="#" class="items item-2">
            <div class="div-img div-img-2">
            <span class="material-symbols-outlined">factory</span>
            </div>
        properties</a>
            
    </div>
    <div class="block-item">
        <a href="#" class="items item-3">
            <div class="div-img div-img-3">
            <span class="material-symbols-outlined">Hotel</span>
            </div>
        Hotel</a>
            
    </div>
    <div class="block-item">
        <a href="#" class="items item-4">
            <div class="div-img div-img-4">
                <span class="material-symbols-outlined">Villa</span>
            </div>
        Villa</a>
    </div>
    </div>
</div>
{% endblock %}
