{% extends "base.html" %} 
{% load static %}
{% block css %} 
<link rel="stylesheet" href="{% static "css/proper.css" %}"> 
{% endblock css %} 
    {% block title %}Properties{% endblock title %}

    {% block content %}
   <div class="row">
    {% for item in properties %}
      <div class="card">
        <div class="card-header">
          <img src="{% static "images"%}/{{item.image}}" alt="">
        </div>
        <div class="card-body">
          <p>
            {{item.title}}
          </p> 
          <div class="btn"><a href="#">More</a></div>
            
        </div>
      </div>
      {% endfor %}

    </div>
    {% endblock content %}

